Repository voxpupuli/puppet-dnsquery, pull requests merged in 2023-05, with the labels that each got.

#141 138: Allow nil value for config_info
  REFERENCE.md
  lib/puppet/functions/dnsquery/a.rb
  lib/puppet/functions/dnsquery/aaaa.rb
  lib/puppet/functions/dnsquery/cname.rb
  lib/puppet/functions/dnsquery/lookup.rb
  lib/puppet/functions/dnsquery/mx.rb
  lib/puppet/functions/dnsquery/ptr.rb
  lib/puppet/functions/dnsquery/rlookup.rb
  lib/puppet/functions/dnsquery/soa.rb
  lib/puppet/functions/dnsquery/srv.rb
  lib/puppet/functions/dnsquery/txt.rb
  spec/functions/dnsquery_lookup_spec.rb
Labels: bug

#142 Release 5.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#143 modulesync 6.0.0
  .msync.yml
  Gemfile
Labels: modulesync
