Repository voxpupuli/puppet-dnsquery, pull requests merged in 2023-04, with the labels that each got.

#133 drop deprecated functions
  REFERENCE.md
  lib/puppet/functions/dns_a.rb
  lib/puppet/functions/dns_aaaa.rb
  lib/puppet/functions/dns_cname.rb
  lib/puppet/functions/dns_lookup.rb
  lib/puppet/functions/dns_mx.rb
  lib/puppet/functions/dns_ptr.rb
  lib/puppet/functions/dns_srv.rb
  lib/puppet/functions/dns_txt.rb
  spec/functions/dns_a_spec.rb
  spec/functions/dns_aaaa_spec.rb
  spec/functions/dns_cname_spec.rb
  spec/functions/dns_lookup_spec.rb
  spec/functions/dns_mx_spec.rb
  spec/functions/dns_ptr_spec.rb
  spec/functions/dns_srv_spec.rb
  spec/functions/dns_txt_spec.rb
Labels: backwards-incompatible

#127 TXT: join text records
  REFERENCE.md
  lib/puppet/functions/dnsquery/txt.rb
  spec/functions/dnsquery_txt_spec.rb
Labels: enhancement, backwards-incompatible

#134 modulesync 5.5.0
  .gitignore
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: modulesync

#136 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible

#137 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
